/* LogoComponent.css */

.logo-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 4%;
  }
  
  .logo-line {
    display: flex;
    align-items: center;
     
    
  }
  
  .circular-container {

    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    
    
  }
  .horizontal-rule{
    border: 1px solid #413e3e;
  }
  .posts-info{
    
    padding-right: 5px;
    
  }
  .logo-svg {
    width: 16px;
    height: 16px;
    border: 2px #3498db;
  }
  
  .logo-text {
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .posts-info {
    font-weight: bold;
    color: #3498db; /* Example color, adjust as needed */
  }

  @media (max-width: 768px) {
    .logo-container1 {
      margin-left: 2%; /* Adjust margin for smaller screens */
      font-size: 13px;
    }
  
    .circular-container {
      padding: 3px; /* Adjust padding for smaller circular containers */
    }
  }
  