/* ProfileComponent.css */

.profile-container {
    width: 100%;
  }
  
  .banner {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
     
  }
  
  .user-section {
    display: flex;
    align-items: flex-start;
    margin-left:40px;
    margin-top: -35px; /* Overlapping the banner slightly */
  }
  
  .user-image {
    width: 150px;
    height: 150px;
     /* Example background color, adjust as needed */
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    margin-top: 45px;
    flex: 1;
  }
  
  .username {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .user-buttons {
    display: flex;
    
  }
  
  .follow-button {
    margin-right: 10px;
    padding: 5px 30px;
    font-weight: bold;
    color: #494444;
    height: 40px;
    border: 2px solid rgb(59, 56, 56);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .follow-info {
    margin: 5px 0;
  }
  
  .linkedin-link {
    color: #3498db; /* Example color, adjust as needed */
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .user-section {
      flex-direction: column;
      align-items: center;
    }
  
    .user-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .user-details {
      text-align: center;
    }
  }
  